In [5]:
# print name 7 times

count = 0

while count < 7:
    print('Aditya', end = ' ')
    count = count + 1

Aditya Aditya Aditya Aditya Aditya Aditya Aditya

In [12]:
count = 0

while count < 7:
    print('Aditya', end = ' ')
    count = count + 1
    
print('Goodbye!!!')

while count <= 7:
    print('Aditya', end = ' ')
    count = count + 1

Aditya Aditya Aditya Aditya Aditya Aditya Aditya Goodbye!!!
Aditya

In [13]:
count

8

In [14]:
# print the numbers from 10 to 15

count = 10

while count <= 15:
    print(count)
    count += 1   # count = count + 1
    
print('Bye!!!')

10
11
12
13
14
15
Bye!!!

In [15]:
count

16

In [16]:
# find the addition of numbers from 1 to 10

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1
    
print('Addition is: ', add)

Addition is:  55

In [17]:
# find the addition of odd numbers from 1 to 20

count = 1
add = 0

while count <=20:
    add = add + count
    count += 2
    
print('Addition of odd numbers: ', add)

Addition of odd numbers:  100

In [18]:
count

21

In [26]:
# factorial for a number => 5
# 5! = 5 * 4 * 3 * 2 * 1

num = 5
fact = 1

while num >= 1:
    fact = fact * num
    num -= 1

print(fact)

120

In [27]:
# num = 1

num = 1
fact = 1

while num <= 5:
    fact = fact * num
    num += 1

print(fact)

120

In [30]:
# else

count = 1

while count < 7:
    print('Aditya', end = ' ')
    count = count + 1
else:
    print('DONE')

Aditya Aditya Aditya Aditya Aditya Aditya DONE

In [32]:
# find the addition of the digits in number
# 12345 => 1 + 2 + 3 + 4 + 5 = 15
num = 12345

rem = num % 10
print(rem)
num = num // 10
print(num)

5
1234

In [34]:
num = 12345
add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10
    
print('sum of the digits is: ', add)

sum of the digits is:  15

### For loop

In [35]:
for n in 42, 31, 21, 20, 67:
    print(n)

42
31
21
20
67

In [36]:
for n in 42, 31, 21, 20, 67:
    print(n/2)

21.0
15.5
10.5
10.0
33.5

In [40]:
for n in 42, 31, 21, 20, 67.82, 'Adi', True:
    print(n)

42
31
21
20
67.82
Adi
True

#### range function

In [42]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
list(range(5, 15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [44]:
list(range(5, 15, 2))

[5, 7, 9, 11, 13]

In [45]:
# range(start, end+1, step)

In [47]:
for n in range(10, 16):
    print(n)

10
11
12
13
14
15

In [48]:
# print the squares of numbers 1 to 5

for n in range(1,6):
    print(n*n)

1
4
9
16
25

In [49]:
# print your name 20 times

for n in range(20):
    print('Adi', end = ' ')

Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi Adi

In [50]:
# addition of 1 to 15 numbers using for loop

add = 0
for n in range(1,16):
    add = add + n
    
print('Addition: ', add)

Addition:  120

In [51]:
# addition of odd numbers from 1 to 20

add = 0
for n in range(1, 21, 2):
    add = add + n
    
print('Addition: ', add)

Addition:  100

In [52]:
name = 'Aditya'

for n in name:
    print(n)

A
d
i
t
y
a

In [53]:
# else

name = 'Aditya'

for n in name:
    print(n)
else:
    print('OK')

A
d
i
t
y
a
OK

In [58]:
# find factorial 

num = int(input('Enter the number '))
fact = 1
for n in range(1, num + 1):
    fact = fact * n

print(fact)

Enter the number 5
120

## flow control statements

#### 1. break

In [61]:
for n in range(1,16):
    if n == 11:
        break
    print(n, end = " ")

1 2 3 4 5 6 7 8 9 10

#### 2. continue

In [63]:
for n in range(1,16):
    if n == 11:
        continue
    print(n, end = " ")

1 2 3 4 5 6 7 8 9 10 12 13 14 15

In [66]:
# pass

num = 10
if num > 9:
    pass