In [1]:
# function definition

def show():
    print('Hello world')
    print('Welcome')
    print('GoodBye!!!')

In [2]:
# function calling

show()

Hello world
Welcome
GoodBye!!!

In [4]:
show()
show()
show()

Hello world
Welcome
GoodBye!!!
Hello world
Welcome
GoodBye!!!
Hello world
Welcome
GoodBye!!!

In [5]:
# parameterized function

def square(num):
    sq = num * num
    print('Square is ', sq)

In [10]:
square(7)

Square is  49

In [11]:
a = int(input('Enter the number '))
square(a)

Enter the number 10
Square is  100

In [12]:
# multi parameterized function

def largest(x, y):
    if x > y:
        print('largest is ', x)
    else:
        print('largest is ', y)

In [16]:
largest(30, 50)

largest is  50

In [17]:
# find largest of 3 numbers

def largest3(x, y, z):
    if x > y and x > z:
        print('largest is ', x)
    elif y > x and y > z:
        print('largest is ', y)
    else:
        print('largest is ', z)

In [18]:
largest3(1,2,3)

largest is  3

In [19]:
# we can use * args for multiple optional arguments

def calc_add(*args):
    print(sum(args))

In [21]:
calc_add(1323,4432,53,23,32,10,100)

5973

In [22]:
def display(name, count):
    for n in range(count):
        print(name)

In [24]:
display('Pune', 5)

Pune
Pune
Pune
Pune
Pune

In [25]:
# function for factorial of a number

def factorial(a):
    fact = 1
    for n in range(1, a + 1):
        fact = fact * n
    print('factorial is ', fact)

In [26]:
factorial(5)

factorial is  120

In [27]:
### functions returning values

def square(num):
    sq = num * num
    return sq

In [28]:
square(3)

9

#### difference between print and return

In [32]:
# print

def add2(a, b):
    result = a + b
    print('the sum is ', result)
    
# call this function

add2(2, 5)

op = add2(2, 5)
print('o/p from add2 with print ', op)

the sum is  7
the sum is  7
o/p from add2 with print  None

In [33]:
# return

def add2(a, b):
    result = a + b
    return result
    
# call this function

add2(2, 5)

op = add2(2, 5)
print('o/p from add2 with print ', op)

o/p from add2 with print  7

In [34]:
help(add2)

Help on function add2 in module __main__:

add2(a, b)

In [35]:
def largest(x, y):
    if x > y:
        return x
    else:
        return y

In [36]:
val = largest(4, 8)

In [37]:
val

8

In [38]:
# ncr = n! / r!(n - r)!

In [39]:
def factorial(a):
    fact = 1
    for n in range(1, a + 1):
        fact = fact * n
    return fact

In [40]:
n = 5
r = 3

ncr = factorial(n) / factorial(r)* factorial(n-r)

In [41]:
ncr

40.0

In [42]:
def calc(n):
    sq = n * n
    cu = n ** 3
    return sq, cu

In [43]:
calc(3)

(9, 27)

In [44]:
num = int(input('Enter the number '))
x, y = calc(num)

Enter the number 3

In [45]:
x

9

In [46]:
y

27

In [47]:
# dynamic or variable length parameter

def calc_add(*x):
    print(sum(x))

In [48]:
calc_add(1,2,3,4,5)

15

In [50]:
# lambda function or one liner function

square = lambda a: a * a

# function_name = lambda arguments: result

In [51]:
square(5)

25

In [52]:
# multiplication of 2 numbers

mult = lambda x, y: x * y

In [53]:
mult(3, 10)

30

In [54]:
# filtering and mapping

num = [34, 56, 42, 25, 39, 14]

In [55]:
new = filter(lambda x: x > 37, num)

In [57]:
print(list(new))

[56, 42, 39]

In [58]:
new = map(lambda x: factorial(x), num)

In [59]:
print(list(new))

[295232799039604140847618609643520000000, 710998587804863451854045647463724949736497978881168458687447040000000000000, 1405006117752879898543142606244511569936384000000000, 15511210043330985984000000, 20397882081197443358640281739902897356800000000, 87178291200]

In [67]:
# default parameters

def add3(y, z = 100, x= 10):
    result = x + y + z
    return result

In [68]:
add3(10)

120

In [69]:
# import keyword

import math

In [70]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.11/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /home/aditya/anaconda3/lib/python3.11/lib-dynload/math.cpython-311-x86_64-linux-gnu.so

In [71]:
math.sqrt(49)

7.0

In [72]:
math.sin(30)

-0.9880316240928618

In [73]:
math.pow(2, 4)

16.0

In [75]:
math.pi

3.141592653589793

In [76]:
import time

In [77]:
time.asctime()

'Sat Jun  1 12:27:32 2024'

In [78]:
import os
os.getcwd()

'/home/aditya/MITU MAY 2024/Python'

In [79]:
# selective imports

from math import sin, pi, sqrt

In [80]:
sin(30)

-0.9880316240928618

In [81]:
pi

3.141592653589793

In [82]:
# alias

import time as t

In [83]:
t.asctime()

'Sat Jun  1 12:33:15 2024'

In [84]:
###

In [85]:
import mod1

In [86]:
mod1.show1()

Hello world
Welcome
this is from mod